// Pages
@import "../pages/login/login";
@import "../pages/marketplace/marketplace";
@import "../pages/homepage/homepage";
@import "../pages/saved-places/savedPlaces";
@import "../pages/inbox/inbox";
@import "../pages/faq/faqPage";
@import "../pages/listing/listingPage";
@import "../pages/profile/profilePage";

// Components
@import "../components/hero/hero";
@import "../components/button/button";
@import "../components/listingsView/listingsView";
@import "../components/card/card";
@import "../components/apartmentCard/listingCard";
@import "../components/dropdown/dropdown";
@import "../components/carousel/carousel";
@import "../components/navbar/navbar";
@import "../components/modal/modal";
@import "../components/chatInput/chatInput";
@import "../components/chatBubble/chatBubble";
@import "../components/detailedListing/detailedListing";
@import "../components/datePickerDropdown/datePickerDropdown";
@import "../components/input/input";
@import "../components/chatBoxSublessor/chatBoxSublessor";
@import "../components/chatBox/chatBox";
@import "../components/lookingForToggle/lookingForToggle";
@import "../components/personCard/personCard";
@import "../components/loadingIndicator/loadingIndicator";

// Buttons
@import "../components/button/button";
@import "../components/button/heart-button/heartButton";
@import "../components/button/archive-button/archiveButton";
@import "../components/popUpWindow/popUpWindow";

// Text
@import "text";

// Jost font (Futura imitation)
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

#root {
  text-align: center;
}

body {
  margin: 0;
  font-family: var(--default-font-family);

  * {
    margin: 0;
  }

  // Prevents body from scrolling when modal is open
  &:has(.modal) {
    overflow: hidden;
  }
}

:root {
  // Theme
  --accent-color: #9bddff;
  --accent-color-active: #88d2f7;
  --surface-primary: #ffffff;
  --surface-secondary: #eaeaea;
  --surface-tertiary: #e1e1e1;
  --border-color: #888888;
  --dark-gray: #333333cc;
  --secondary-text: #c7c7c7;

  // Font
  --default-font-family: "Jost", sans-serif;
  --font-size-lg: 24px;
  --font-size-md: 18px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-weight-bold: 700;
  --font-weight-semibold: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;

  --border-radius-xl: 24px;
  --border-radius-lg: 12px;
  --border-radius-md: 6px;
  --border-radius-sm: 4px;

  // SVG filters
  --svg-filter-white: invert(100%) sepia(0%) saturate(7441%) hue-rotate(21deg) brightness(100%) contrast(114%);
  --svg-filter-accent: invert(87%) sepia(36%) saturate(432%) hue-rotate(122deg) brightness(92%) contrast(95%);
  --svg-filter-gray: invert(100%) sepia(0%) saturate(151%) hue-rotate(151deg) brightness(88%) contrast(93%);

  // Component-specific variables
  --navbar-height: 60px;
}

ul {
  list-style: none;
}

.listings-and-map-page {
  display: grid;
  grid-template-columns: auto 1fr;

  width: 100%;
  height: calc(100vh - var(--navbar-height) - 80px /* height of marketplace search section */);

  box-sizing: border-box;

  .listings-container {
    overflow-y: auto;
    padding: 16px;
  }

  .map-container {
    display: flex;
    justify-content: center;
    padding: 16px;

    .map-view {
      border-radius: var(--border-radius-xl);
      width: 100%;
      height: 100%;

      min-width: 360px;
    }
  }
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: var(--border-radius-md);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: var(--border-radius-md);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
