@import "../components/hero/hero";
@import "../components/button/button";
@import "../components/alllListings/allListings";
@import "../components/apartmentCard/listingCard";

#root {
  text-align: center;
}

body {
  margin: 0;
}

// Colors
:root {
  --accent-color: #85e4e4;
}
