.listingGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
    align-items: center;
    // gap: 10px 10px;
    // max-width: 100%;

    max-width: calc(3 * 330px + 2 * 20px);
}