nav {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--background-color);

  width: 100%;
  height: var(--navbar-height);
  padding: 0 12px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
