.chat-input{

    display: flex;
    margin: 10px;

    .input-field{
        flex-grow: 1;
        padding:10px;
        font-size: --font-size-sm;
        border-radius: 15px;
        border: 1px solid #9BDDFF;
    }

    Button{
        margin-left: 10px;
    }
}
