#chatBoxContainer {
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 30px;

  display: grid;
  grid-template-rows: 65px auto;

  #popup {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 10; // Make prop top most element
  }

  #chatBoxTabBar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12.5px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    justify-content: space-between;

    #leftSideTabBar {
      display: flex;
      align-items: center;

      #heartButton {
        scale: 60%;
      }

      #listingLocation {
        margin-left: 10px;
      }
    }

    .action-button-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      .button.unarchive {
        box-shadow: none;
        background-color: var(--surface-secondary);
      }
    }
  }

  #mainChatBox {
    padding: 40px 40px 20px 40px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    // screen height - navbar height - chatbox tab bar height - chat box container margin
    height: calc(100vh - var(--navbar-height) - 65px - 60px);

    #sublessorInfo {
      height: 160px;
    }

    #messages {
      flex-grow: 1;
      overflow-y: auto;
    }

    #input {
      box-sizing: border-box;
      height: 60px;
    }
  }
}
