#detailedListing {
  position: fixed;
  top: calc(0.5 * var(--navbar-height));
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  width: 90vw;

  // Apply border radius only to the top-left/top-right corners
  border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;

  padding-bottom: 0;

  .modal-content {
    height: 100%;

    padding: 12px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 50% 50%;

    overflow-y: auto;

    h1,
    h2,
    h3 {
      font-weight: var(--font-weight-semibold);
    }

    .location {
      padding-bottom: 12px;
    }

    .dates {
      color: var(--accent-color);
    }

    .overview {
      color: var(--dark-gray);
    }

    ul {
      list-style: initial;
    }

    .left {
      text-align: left;
      padding-right: 40px;
      gap: 12px;

      > div {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      h3 {
        color: var(--dark-gray);
      }

      hr {
        margin: 12px 0;
      }

      .map-view {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: var(--border-radius-xl);
      }
    }

    .right {
      gap: 32px;

      .sublessor-wrapper {
        h3 {
          color: var(--dark-gray);
        }

        align-items: center;
        gap: 16px;
      }
    }

    .left,
    .right,
    .sublessor-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}
