.hero {
  display: flex;
  align-items: center;
  gap: 10px;

  &.vertical {
    flex-direction: column;
  }

  &.size-small img {
    height: 30px;
  }

  &.size-medium img {
    height: 60px;
  }

  &.size-large img {
    height: 100px;
  }

  img {
    display: block;
    height: 100%;
    object-fit: cover;
  }
}
