button {
  border: none;
  border-radius: var(--border-radius-md);
  padding: 10px 20px;
  font-weight: var(--font-weight-bold);
  font-family: var(--default-font-family);
  font-size: var(--font-size-sm);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); // light box-shadow
  background-color: transparent;

  &.action {
    background-color: var(--accent-color);
  }

  &:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  }

  &:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
  }
}
