button {
  border: none;
  border-radius: var(--border-radius-md);
  padding: 10px 20px;
  font-weight: var(--font-weight-bold);
  font-family: var(--default-font-family);
  font-size: var(--font-size-sm);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); // light box-shadow
  background-color: transparent;

  // Button variations
  &.icon-button {
    box-shadow: none;
    padding: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      filter: var(--svg-filter-accent);
    }

    &.sm img {
      width: 20px;
      height: 20px;
    }

    &.md img {
      width: 28px;
      height: 28px;
    }

    &.lg img {
      width: 32px;
      height: 32px;
    }
  }

  &.secondary {
    background-color: var(--surface-secondary);

    &:hover {
      background-color: var(--surface-tertiary);
    }
  }

  &.action {
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-active);
    }
  }

  // Interaction states (focus, active, hover)
  &:focus {
    outline: 3px solid var(--accent-color);
  }

  &:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);

    position: relative;
    top: 1px;
  }

  &:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
  }
}