button {
  border: none;
  border-radius: var(--border-radius-md);
  padding: 10px 20px;
  font-weight: var(--font-weight-bold);
  font-family: var(--default-font-family);
  font-size: var(--font-size-sm);
}

.button {
  background-color: var(--accent-color);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); // light box-shadow

  &:active {
    box-shadow: none;
    opacity: 0.9;
  }

  &:hover {
    filter: brightness(1.02);
  }
}
