#inboxPageWrapper {
  display: grid;
  grid-template-columns: auto 800px;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  box-sizing: border-box;

  .listings-container {
    margin: 10px;

    #inboxActionButtonWrapper {
      padding: 30px;
      display: flex;
      justify-content: space-between;
    }

    #cardList {
      padding: 30px;
      max-height: calc(90vh - var(--navbar-height) - 140px);
      overflow-y: auto;
    }
  }

  .chatbox-container {
    margin: 10px;
    padding: 20px;
  }
}
