.personCard {
  position:relative;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-xs);
  height: 414px;
  width: 297px;
  padding: 25px;
  box-sizing: border-box;


  // hr {
  //   // divider
  //   border-top: 1px solid #bbb;
  //   width: 75%;
  // }

  .topOfCard {
    // padding:25px;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    .left-side {
      display: inline-block;
      // padding: 1rem 1rem;
      vertical-align: middle;
      text-align: left;
      // font-size: var(--font-size-xs);

      .name {
        // margin-top: 10px;
        font-size: var(--font-size-md);
      }

      .email {
        margin-top: 5px;
        font-style: italic;
        color: grey;
        font-size: var(--font-size-xs);
      }

      .pronouns {
        font-size: var(--font-size-xs);
        margin-bottom: 10px;
      }

      .image-container {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        border: 2px solid black;

        img {
          display: inline;
          margin: 0 auto;
          height: 100%;
          width: auto;
        }
      }
    }
  }


    .biography {
      // margin-top: -25px;
      // padding: 1rem 1rem;
      padding-top: 10px;
      text-align: left;
      max-height: 60px;
      width: 100%;
      word-wrap: break-word;
      overflow-y: auto;
    }
  // }

  .lookingFor {
    // padding: 1rem 1rem;
    padding-top:10px;
    text-align: left;
    // line-height: 2em;
    padding-bottom: 15px;
  }

  .actions-messagebox{
    position: absolute;
    margin-left: auto;
    right: 25px;
    bottom: 20px;;
    width: auto;
    
    .actions {
      display: flex;
      justify-content: flex-end;

      .heart {
        display: inline-block;
      }

      .archive {
        display: inline-block;
        // margin-right: 15px;
      }
    }
  }
}
