@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
#loginPageWrapper {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.hero.size-small {
  height: 30px; }

.hero.size-medium {
  height: 60px; }

.hero.size-large {
  height: 100px; }

.hero img {
  display: block;
  height: 100%;
  object-fit: cover; }

button {
  border: none;
  border-radius: var(--border-radius-md);
  padding: 10px 20px;
  font-weight: var(--font-weight-bold);
  font-family: var(--default-font-family);
  font-size: var(--font-size-sm); }

.button {
  background-color: var(--accent-color);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); }
  .button:active {
    box-shadow: none;
    opacity: 0.9; }
  .button:hover {
    filter: brightness(1.02); }

.listingGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
  align-items: center;
  max-width: calc(3 * 330px + 2 * 20px); }

.card {
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 500px;
  width: 330px;
  display: flex;
  flex-direction: column; }

.listing-card {
  font-weight: --font-weight-normal;
  flex: 1 1; }
  .listing-card .image-container {
    position: relative;
    overflow: hidden;
    width: 100%; }
    .listing-card .image-container .marker {
      position: absolute;
      top: 20px;
      left: 15px;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .listing-card .image-container .marker .location-number {
        display: flex;
        position: absolute;
        transform: translate(0%, -30%);
        z-index: 2;
        color: white;
        font-size: --font-size-xs;
        font-weight: bold; }
    .listing-card .image-container img {
      width: 100%;
      height: 100%; }
  .listing-card hr {
    border-top: 1px solid #bbb;
    width: 100%; }
  .listing-card .text {
    width: 100%;
    text-align: left;
    padding: 25px;
    font-size: --font-size-sm;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    flex-direction: column; }
    .listing-card .text .location-text {
      font-size: --font-size-md;
      font-weight: --font-weight-normal; }
    .listing-card .text .description {
      color: rgba(0, 0, 0, 0.75);
      margin-bottom: 15px;
      margin-top: 15px; }
    .listing-card .text .all-tags {
      display: flex;
      gap: 10px;
      color: #3c3c43; }
      .listing-card .text .all-tags .tag {
        font-size: --font-size-xs;
        border-width: 1px;
        border-style: solid;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 15px; }
    .listing-card .text .bottom-row {
      margin-top: auto;
      display: flex;
      justify-content: space-between; }
      .listing-card .text .bottom-row .dates-rent {
        display: flex;
        flex-direction: column;
        line-height: 25px; }
      .listing-card .text .bottom-row .heart {
        display: flex;
        align-items: center; }

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  border: 1px solid var(--border-color);
  border-radius: 5px; }
  .dropdown:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); }

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--secondary-text); }

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%; }

.option-container {
  width: 100%;
  cursor: pointer; }
  .option-container:hover {
    background-color: var(--accent-color); }

.dropdown-item {
  text-align: left;
  padding-left: 20px; }

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out; }
  .icon-wrapper:hover {
    transform: scale(1.3); }

.icon-wrapper img {
  width: 12px;
  height: auto; }

swiper-container {
  width: 100%;
  height: 100%; }
  swiper-container::part(bullet-active) {
    background-color: var(--accent-color); }

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.carousel-wrapper {
  position: relative;
  width: 100%; }
  .carousel-wrapper .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0 12px; }
    .carousel-wrapper .button-wrapper button {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      padding: 0;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .carousel-wrapper .button-wrapper button.button-prev img {
        transform: rotate(180deg);
        margin-right: 4px; }
      .carousel-wrapper .button-wrapper button.button-next img {
        margin-left: 4px; }
      .carousel-wrapper .button-wrapper button img {
        filter: var(--svg-filter-white); }

nav {
  width: 100%;
  height: 60px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.chat-input {
  display: flex;
  margin: 10px; }
  .chat-input .input-field {
    flex-grow: 1;
    padding: 10px;
    font-size: var(--font-size-sm);
    border-radius: 15px;
    border: 1px solid #9BDDFF; }
  .chat-input Button {
    margin-left: 10px; }

.chat-bubble {
  max-width: 450px;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative; }
  .chat-bubble .message {
    text-align: left;
    font-size: var(--font-size-md);
    word-wrap: break-word; }

.sender {
  background-color: var(--accent-color);
  margin-left: auto; }

.receiver {
  background-color: #A9A9A9;
  color: white;
  margin-right: auto; }

#root {
  text-align: center; }

body {
  margin: 0;
  font-family: var(--default-font-family); }
  body p {
    margin: 0; }

:root {
  --accent-color: #9BDDFF;
  --background-color: #ffffff;
  --border-color: #888888;
  --dark-gray: #333333cc;
  --secondary-text: #c7c7c7;
  --default-font-family: "Jost", sans-serif;
  --font-size-lg: 24px;
  --font-size-md: 18px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --border-radius-lg: 12px;
  --border-radius-md: 6px;
  --border-radius-sm: 4px;
  --svg-filter-white: invert(100%) sepia(0%) saturate(7441%) hue-rotate(21deg) brightness(100%) contrast(114%); }

ul {
  list-style: none; }
